.container {
    max-width: 992px;
    margin: 50px auto 0;
    text-align: center;
}

.row img {
    height: 200px;
}

/* #lessons */

#steps,
#why {
    background-color: #f9f9f9;
}

#why .row img {
    background-color: #428bca;
    border-radius: 50%;
}

/* DEBUG */
.debug .row {
    height: 400px;
    background-color: red;
}

.debug .row [class*="col-"]{
    background-color: pink;
    border: 1px solid black;
    height: 100%;
}
/* / DEBUG */