.container {
    max-width: 992px;
    margin: 30px auto 0;
    text-align: center;
}

.row img {
    height: 200px;
}


/* DEBUG */
.debug .row {
    height: 400px;
    background-color: red;
}

.debug .row [class*="col-"]{
    background-color: pink;
    border: 1px solid black;
    height: 100%;
}

/* / DEBUG */